{% extends 'base_generic.html' %}

{% block content %}
  <h2>Welcome to your Babies Journey, {{ baby.parent_name }}!</h2>
  <h1>Meet {{ baby.name }}</h1>
  {% if baby.picture %}
    <img src="{{ baby.picture.url }}" alt="{{ baby.name }}">
  {% else %}
    <p>No picture available. You can add a picture by updating {{ baby.name }}'s profile.</p>
  {% endif %}
  <p>Here's a snapshot of {{ baby.name }}'s details:</p>
  <p>Gender: {{ baby.gender }}</p>
  <p>Date of birth: {{ baby.date_of_birth }}</p>
  <p>Weight: {{ baby.weight }} kg</p>
  <p>Height: {{ baby.height }} cm</p>
  <p>Age in months: {{ baby.age_in_months }}</p>

  <p>On this page, you can track {{ baby.name }}'s development and growth, log milestones, view the expected milestones for {{ baby.name }}'s current age, and engage with fun activities and nutritious meal guides suitable for {{ baby.name }}.</p>

  <p><a href="{% url 'milestones:log_milestone' baby.id %}">Milestones:</a> Here you can log the milestones that {{ baby.name }} has reached, such as first words or first steps. This is also where you can see the milestones reached in the past months.</p>

  <p><a href="{% url 'milestones:view_activities' baby.id %}">View Activities:</a> Check out these recommended activities you can do with {{ baby.name }}. They are designed to be fun and to promote development.</p>

  <p><a href="{% url 'milestones:view_nutrition_guide' baby.id %}">View Nutrition Guide:</a> This nutrition guide provides recommendations for {{ baby.name }}'s diet, including meal ideas and portion sizes.</p>

  <p><a href="{% url 'babies:baby_update' baby.id %}">Update {{ baby.name }}'s Profile:</a> Keep {{ baby.name }}'s profile up-to-date by clicking here. You can change information like weight and height, and you can also add a picture.</p>

  <p><a href="{% url 'home' %}">Home:</a> Click here to go back to the home page, where you can select another baby's profile or create a new one.</p>

  <p><a href="{% url 'babies:baby_delete' baby.id %}">Delete {{ baby.name }}'s Profile:</a> If you need to, you can delete {{ baby.name }}'s profile by clicking this link. Please be careful, this action cannot be undone!</p>

  <p>Progress Report: Here is the latest report on {{ baby.name }}'s progress: {{ baby.progress.report }}</p>
{% endblock %}
