{% extends 'base_babies.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card mt-5 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="text-center">Are you sure you want to delete {{ baby.name }}'s profile?</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Yes, delete it</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'babies:baby_detail' baby.id %}" class="btn btn-secondary">No, take me back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
