<h2>Welcome {{ baby.parent_name }}!</h2>
<h1>{{ baby.name }}</h1>
{% if baby.picture %}
    <img src="{{ baby.picture.url }}" alt="{{ baby.name }}">
{% else %}
    <p>No picture available</p>
{% endif %}
<p>Gender: {{ baby.gender }}</p>
<p>Date of birth: {{ baby.date_of_birth }}</p>
<p>Weight: {{ baby.weight }} kg</p>
<p>Height: {{ baby.height }} cm</p>
<p>Age in months: {{ baby.age_in_months }}</p>
<a href="{% url 'milestones:log_milestone' baby.id %}">Log Milestone</a>
<a href="{% url 'milestones:view_expected_milestones' baby.id %}">View Expected Milestones</a>
<a href="{% url 'milestones:view_activities' baby.id %}">View Activities</a>
<a href="{% url 'milestones:view_nutrition_guide' baby.id %}">View Nutrition Guide</a>
<a href="{% url 'babies:baby_update' baby.id %}">Update</a>
<a href="{% url 'home' %}">home</a>
<a href="{% url 'babies:baby_delete' baby.id %}">Delete {{ baby.name }}'s Profile</a>
<p>Progress: {{ baby.progress.report }}</p>
