{% load dict_filters %}
{% load range_filter %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1>Welcome to {{ baby.name }}'s Milestone Tracker</h1>

<p>Hello, and thank you for using our milestone tracker. Today, {{ baby.name }} is {{ baby.age_in_months }} months old. You're currently viewing the milestones for month {{ month }}.</p>

<p>Below, you'll find a list of developmental milestones that babies often reach around this age. This isn't a checklist, so don't worry if {{ baby.name }} hasn't reached all of them yet. All babies develop at their own pace!</p>

<p>We recommend using this page to track {{ baby.name }}'s growth and development. It can be a fun way to document these special moments and observe how {{ baby.name }} is learning and growing. Plus, this information can be helpful for pediatrician visits. Please select each milestone that {{ baby.name }} has reached, and include the date it was observed.</p>

<p>Additionally, you can navigate through the history of logged milestones by clicking on the links below. Each link corresponds to a previous month, and by clicking on it, you'll be taken to the milestones for that month. You can log milestones from the past, and also view the ones that have already been logged.</p>

<h2>Months:</h2>
{% for i in baby.age_in_months|times %}
    {% if i == month %}
        <b><a href="{% url 'milestones:log_previous_milestone' baby.id i %}">Month {{ i }}</a></b>
    {% else %}
        <a href="{% url 'milestones:log_previous_milestone' baby.id i %}">Month {{ i }}</a>
    {% endif %}
{% endfor %}
<a href="{% url 'milestones:log_milestone' baby.id %}">Back to Current Month ({{ baby.age_in_months }})</a>

<form method="post">
    {% csrf_token %}
    {% for area, milestones in grouped_milestones.items %}
        <h2>{{ area }}</h2>
        {% for milestone in milestones %}
            <div class="milestone-item">
                <input type="checkbox" id="milestone_{{ milestone.0 }}" name="logged_milestones" value="{{ milestone.0 }}" {% if milestone.0 in logged_milestones %} checked {% endif %}>
                <label for="milestone_{{ milestone.0 }}">{{ milestone.1 }}</label>
                <label for="milestone_date_{{ milestone.0 }}">Date Observed:</label>
                {% if milestone.0 in logged_milestones %}
                    {% with milestone_date=logged_milestones|get_item:milestone.0 %}
                        <input type="date" id="milestone_date_{{ milestone.0 }}" name="milestone_date_{{ milestone.0 }}" value="{{ milestone_date|date:'Y-m-d' }}">
                    {% endwith %}
                {% else %}
                    <input type="date" id="milestone_date_{{ milestone.0 }}" name="milestone_date_{{ milestone.0 }}">
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    <button type="submit">Log Milestones</button>
</form>

<script>
    window.onload = function() {
        let checkboxes = document.querySelectorAll("input[type=checkbox][name=logged_milestones]");
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                let dateInput = document.querySelector(`#milestone_date_${this.value}`);
                if (this.checked) {
                    let today = new Date();
                    let dd = String(today.getDate()).padStart(2, '0');
                    let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    let yyyy = today.getFullYear();
                    today = yyyy + '-' + mm + '-' + dd;
                    dateInput.value = today;
                } else {
                    dateInput.value = ""; // reset date field if checkbox is unchecked
                }
            });
        });
    };
</script>
<p><a href="{% url 'milestones:view_activities' baby.id %}">View Activities:</a> Jump to activities that are tailored towards helping {{ baby.name }} hit most of this month's expected milestones</p>
<p><a href="{% url 'babies:baby_detail' baby.id %}">Back to baby profile</a></p>
<a href="{% url 'home' %}">home</a>
