<!DOCTYPE html>
<html>
<head>
  <title>MarketPlace</title>
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'home' %}">Home</a> |
      <a href="{% url 'marketplace:category_list' %}">Categories</a>
      <a href="{% url 'marketplace:item_list' item.category.id %}">Go back to items</a>
    </nav>
  </header>
  <main>
    {% block content %}
  <h1>{{ item.name }}</h1>
  <img src="{{ item.image.url }}" alt="{{ item.name }}">
  <p>Description: {{ item.description }}</p>
  <p>Price: {{ item.price }} Naria</p>
  <p>Sellers Contact Info: {{ item.contact}}</p>

  {% if user.is_authenticated and item.user == user %}
    <a href="{% url 'marketplace:item_update' item.id %}">Edit</a>
    <a href="{% url 'marketplace:item_delete' item.id %}">Delete</a>
  {% endif %}
{% endblock %}



  </main>
</body>
</html>
