<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- include static files -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'forum:category_list' %}">Forum</a> |
            <a href="{% url 'marketplace:category_list' %}">Marketplace</a> |
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a> |
                Hello, {{ user.username }}
            {% else %}
                <a href="{% url 'login' %}">Login</a> |
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2023 Bobo</p>
    </footer>
</body>
</html>
