* {
    box-sizing: border-box;  
}

body{
    margin: 0;
}

.header{
    border: none;
    width: 94%;

    margin:  0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;


}

.logo{
    border: none;
    height: 75px;
    width: 137px;
    
}

.header img{
    height: 100%;
    width: 75px;
    border: none;
    margin-right: -28px;
    
}

.header h1{
    font-size: 36px;
    display: inline-block;
    border: none;
    color: rgb(150,184,64);
}


.header .nav{
    border: none;
    margin-bottom: -50px;
    width: 100%;
    max-width: 370px;
    margin-top: 10px;
    margin-right:  auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.nav a{
    text-decoration: none;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.nav a:visited {color: rgb(255, 255, 255); /*this is how to style a link that has been visited*/
}

.nav a:hover {color: rgb(0, 0, 0); /*this is how to style a link when the mouse hovers over it*/
}

.nav a:active {color: rgb(255, 113, 113); /*this is how to style a link when it is clicked*/
}

.header .button{
    border: none;
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button button{
    padding: 2px 10px 0px 10px;
    border-radius: 5px;
    background: rgb(150,184,64, 74%);
    color: white;
}

.button a{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.first{
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(105, 71, 191, 1) 5%,
        rgba(142, 147, 167, 1) 18%,
        rgba(196, 146, 72, 1) 30%,
        rgba(75, 138, 221, 1) 33%,
        rgba(207, 49, 50, 1) 47%,
        rgba(143, 148, 168, 1) 57%,
        rgba(172, 113, 92, 1) 82%,
        rgba(1, 146, 225, 1) 93%
    );
}

.intro{
    border: none;
    width: 94%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.description h2{
    font-size: 50px;
    color: rgb(255, 255, 255);
    line-height: 0.8;
    text-shadow: 5px 5px rgb(0, 0, 0);
    text-align: left;
    
}

.description p{
    font-size: 25px;
    text-align: left;
    line-height: 1.5;
    color: rgb(45, 67, 4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ken{
    max-width: 1000px;
    min-width: 200px;
}

#features{
    border: none;
    max-width: 1400px;
    min-width: 280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;

}

.offer{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    color:rgb(105, 71, 191);
    margin: 0;
}

.Milestone, .Forum, .Marketplace, .Activity{
    width: 100%;
    max-width: 360px;
    height: 350px;
    border-radius: 100px;
    object-fit: cover;
}

.one-third h3 {
    text-align: center;
    color: rgb(105, 71, 191);
    margin: 0;
    border: 3px double;
}

.one-third p {
    text-align: center;
}

.third{
    border: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: radial-gradient(closest-side, rgb(17,121,231),rgb(95,152,182),rgb(124,154,176),rgb(163, 175, 189));

}

.about {
    border: none;
    width: 800px;
}


.about  h2{
    text-align: center;
    font-size: 40px;
}

.about p{
    text-align: left;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bobo{
    max-width: 900px;
    min-width: 200px;
    border: none;
}

.fourth{
    border: none;
    width: 100%;
    background-color: rgb(3, 46, 81);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
    


.fourth .port{
    width: 30%;
    min-width: 280px;
    font-size: 20px;
    padding-left: 10px;
    line-height: 1.5;
}

.fourth .chesa{
    width: 30%;
    min-width: 280px;
    font-size: 20px;
    padding-left: 10px;
    border-left: 1px double;
    text-align: left;
}

.fourth .mma{
    width: 30%;
    min-width: 280px;
    font-size: 20px;
    border-left: 1px double;
    padding-left: 10px;
    text-align: left;
}

.lin{
    color: rgb(94, 255, 0);
}

.nav a:visited {color: rgb(255, 255, 255); /*this is how to style a link that has been visited*/
}

.lin:hover { color: rgb(255, 0, 212) /*this is how to style a link when the mouse hovers over it*/
}

.nav a:active { color: rgb(255, 113, 113) /*this is how to style a link when it is clicked*/
}

